* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #0f172a; 
    color: #e2e8f0;
}

/* NAVBAR DESIGN */

.navbar {
    position: sticky;
    top: 0;
    background: rgba(15, 23, 42, 0.95);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #1e293b;
    z-index: 100;
    padding: 16px 0;
}

.nav-inner{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    

}

.nav-logo {
    font-size: 20px;
    font-weight: 700;
    color: #38bdf8;
    
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 24px;  
}

.nav-links a{
    
    text-decoration:none;
    font-size: 14px;
    transition: color 0.2s;
    color: #94a3b8;
}

.nav-links a:hover { color: #e2e8f0}

.btn-nav{
    padding:8px 16px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;

}

.btn-nav-primary{
    background-color: #38bdf8;
    color: #0f172a !important;
}

.btn-nav-primary:hover {background: #0ea5e9;}

/* HERO DESIGN */

.hero{

    padding: 100px 24px 80px;
    text-align: center;
}

.hero-inner{ max-width: 800px; margin: 0 auto}

.badge{
    display: inline-block;
    background: #1e293b;
    border: 1px solid #334155;
    color: #38bdf8;
    padding:6px 16px;
    border-radius: 100px;
    font-size: 13px;
    margin-bottom: 28px;
}

.hero h1{
    font-size: 56px;
    font-weight: 800;
    line-height: 1.15;
    margin-bottom: 20px;
    color: #f1f5f9;
    
}

.highlight{ color: #38bdf8;}

.hero-sub{
    font-size: 18px;
    color:#94a3b8;
    max-width: 560px;
    margin: 0 auto 36px;
    line-height: 1.6;
}

.hero-cta{
    display: flex;
    gap:16px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.btn-primary-lg{
    background: #38bdf8;
    color: #0f172a;
    padding:14px 28px;
    border-radius:10px;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    transition: backgroung 0.2s;
}

.btn-primary-lg:hover{background: #0ea5e9;}

.btn-secondary-lg{
    background: #1e293b;
    color: #e2e8f0;
    padding:14px 28px;
    border-radius:10px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #334155;
    transition: backgroung 0.2s;
}

.btn-secondary-lg:hover{background: #334155;}

.hero-note{
    color: #475569;
    font-size: 13px;
}

 .stats-bar{
    background: #1e293b;
    border-top:1px solid #334155;
    border-bottom:1px solid #334155;
    padding: 32px 24px;
} 

.stats-inner{
    max-width: 800px;
    margin: 0 auto;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 24px;        
}

.stat {text-align: center;}

.stat-num{
    display: block;
    font-size: 36px;
    font-weight: 800;
    color: #38bdf8;
}

.stat-lbl{
    display: block;
    font-size:13px;
    color:#64748b;
    margin-top: 4px;
}

/* FETURES START */

.features{ padding: 80px 24px;}

.section-inner{ 
    max-width: 1100px;
    margin: 0 auto;;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 12px;
    color: #f1f5f9;
}

.section-sub{
    text-align: center;
    color:#64748b;
    font-size: 16px;
    margin-bottom: 48px;
    
}

.features-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap:24px;
}

.features-card{
    background: #1e293b;
    border:1px solid #334155;
    border-radius: 16px;
    padding: 28px;
    transition: border-color 0.2s;
    text-align: center;
}

.features-card:hover { border-color: #38bdf8; }

.feature-icon { font-size: 32px; margin-bottom: 16px;  }

.features-card h3 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #f1f5f9;
}

.features-card p { color: #64748b; font-size: 14px; line-height: 1.6; 

}

/* FEATURE END */

/* HOW IT WORKS START */
    
.how {
        background: #1e293b;
        padding: 80px 24px;
        border-top: 1px solid #334155;
        border-bottom: 1px solid #334155 ;
    }

.steps {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        flex-wrap: wrap;
        margin-top: 48px;
    }

.step {
        background: #0f172a;
        border: 1px solid #334155;
        border-radius: 16px;
        padding: 32px 28px;
        text-align: center;
        max-width: 260px;
        height: 220px;
    }

.step-num {
        width: 48px;
        height: 48px;
        background: #38bdf8;
        color: #0f172a;
        border-radius: 50%;
        font-size: 20px;
        font-weight: 800;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 16px;
    }

.step h3 { font-size: 16px; font-weight: 700; margin-bottom: 8px; color: #f1f5f9; }
.step p { color: #64748b; font-size: 13px; line-height: 1.6; }
.step-arrow { font-size: 28px; color: #334155; }

/* HOW IT WORKS END */

/* CTA START */

.cta-section{
        padding: 100px 24px;
        text-align: center;
    }

.cta-inner { max-width: 600px; margin: 0 auto; }

.cta-section h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #f1f5f9;
    }

.cta-section p {
    color: #64748b;
    font-size: 16px;
    margin-bottom: 32px;
    }  

 /* CTA END */

 /* FOOTER START */

 .footer{
    background: #1e293b;
    border-top: 1px solid #334155;
    padding: 24px;
 }

 .footer-inner{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    color: #475569;
    font-size: 13px;
 }

.footer-links { display: flex; gap: 20px; }
.footer-links a { color: #475569; text-decoration: none; }
.footer-links a:hover { color: #94a3b8; }

/* FOOTER END */

/* RESPONSIVE START */

/* RESPONSIVE */

 @media (max-width: 768px) {
    .hero h1 { font-size: 36px; }
    .nav-links a:not(.btn-nav) { display: none; }
    .step-arrow { display: none; }
    .steps { flex-direction: column; align-items: center; }
} 

/* RESPONSIVE END */